<a href="https://colab.research.google.com/github/sthitaprajnadas/gcp-aiml-works/blob/main/quiz_marks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set_style("whitegrid")

In [5]:
df = pd.read_csv("./marks_final.csv")

In [13]:
df.head()

,SNO.,ROLL NUMBER,Q1 (5),Q2 (5),Q3 (5),Q4 (5),Q5 (5),Q6 (5),Q7 (5),Q8 (5),Q9 (5),Q10 (5),Q11 (5),Q12 (5),Top 9 (out of 45),Out of 30,total_score
0,1,102003733,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0,NaN,NaN,NaN,4.0,12,8.0,12.0
1,2,102203002,5.0,NaN,4.0,4.0,4.0,4.0,4.0,3.0,5.0,5.0,5.0,3.0,40,26.7,46.0
2,3,102203003,5.0,4.0,4.0,4.0,4.0,5.0,4.0,3.0,4.0,5.0,4.0,2.0,39,26.0,48.0
3,4,102203005,NaN,NaN,NaN,NaN,3.0,5.0,3.0,4.0,4.0,5.0,5.0,NaN,29,19.3,29.0
4,5,102203007,NaN,NaN,NaN,5.0,4.0,3.0,3.0,5.0,3.0,5.0,5.0,3.0,36,24.0,36.0

In [10]:
import numpy as np
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning)
df.replace(to_replace=r"(?i)^AB$" , regex=True , inplace=True , value=np.nan)

quiz_cols = [col for col in df.columns if 'Quiz' in col or 'Q' in col]

for col in quiz_cols:
  df[col] = pd.to_numeric(df[col], errors = "coerce")

df[quiz_cols].head()

,Q1 (5),Q2 (5),Q3 (5),Q4 (5),Q5 (5),Q6 (5),Q7 (5),Q8 (5),Q9 (5),Q10 (5),Q11 (5),Q12 (5)
0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0,NaN,NaN,NaN,4.0
1,5.0,NaN,4.0,4.0,4.0,4.0,4.0,3.0,5.0,5.0,5.0,3.0
2,5.0,4.0,4.0,4.0,4.0,5.0,4.0,3.0,4.0,5.0,4.0,2.0
3,NaN,NaN,NaN,NaN,3.0,5.0,3.0,4.0,4.0,5.0,5.0,NaN
4,NaN,NaN,NaN,5.0,4.0,3.0,3.0,5.0,3.0,5.0,5.0,3.0

In [16]:
df["total_score"] = df[quiz_cols].sum(axis=1,skipna=True)

df["percentage"] = (df["total_score"] / (len(quiz_cols) * 10) ) * 100

df.head()

,SNO.,ROLL NUMBER,Q1 (5),Q2 (5),Q3 (5),Q4 (5),Q5 (5),Q6 (5),Q7 (5),Q8 (5),Q9 (5),Q10 (5),Q11 (5),Q12 (5),Top 9 (out of 45),Out of 30,total_score,percentage
0,1,102003733,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0,NaN,NaN,NaN,4.0,12,8.0,12.0,10.000000
1,2,102203002,5.0,NaN,4.0,4.0,4.0,4.0,4.0,3.0,5.0,5.0,5.0,3.0,40,26.7,46.0,38.333333
2,3,102203003,5.0,4.0,4.0,4.0,4.0,5.0,4.0,3.0,4.0,5.0,4.0,2.0,39,26.0,48.0,40.000000
3,4,102203005,NaN,NaN,NaN,NaN,3.0,5.0,3.0,4.0,4.0,5.0,5.0,NaN,29,19.3,29.0,24.166667
4,5,102203007,NaN,NaN,NaN,5.0,4.0,3.0,3.0,5.0,3.0,5.0,5.0,3.0,36,24.0,36.0,30.000000

In [17]:
df[quiz_cols + ["total_score" , "percentage"]].describe

<bound method NDFrame.describe of       Q1 (5)  Q2 (5)  Q3 (5)  Q4 (5)  Q5 (5)  Q6 (5)  Q7 (5)  Q8 (5)  Q9 (5)  \
0        NaN     NaN     NaN     NaN     NaN     NaN     3.0     5.0     NaN
1        5.0     NaN     4.0     4.0     4.0     4.0     4.0     3.0     5.0
2        5.0     4.0     4.0     4.0     4.0     5.0     4.0     3.0     4.0
3        NaN     NaN     NaN     NaN     3.0     5.0     3.0     4.0     4.0
4        NaN     NaN     NaN     5.0     4.0     3.0     3.0     5.0     3.0
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
1048     5.0     4.0     NaN     5.0     3.0     4.0     NaN     3.0     4.0
1049     5.0     2.0     3.0     4.0     3.0     5.0     2.0     5.0     NaN
1050     5.0     3.0     5.0     4.0     3.0     3.0     4.0     5.0     4.0
1051     5.0     3.0     3.0     NaN     4.0     NaN     NaN     5.0     NaN
1052     NaN     NaN     3.0     NaN     5.0     NaN     4.0     NaN     NaN

      Q10 (5)  Q11 (5)  Q12 (5)  total_score  percentage
0         NaN      NaN      4.0         12.0   10.000000
1         5.0      5.0      3.0         46.0   38.333333
2         5.0      4.0      2.0         48.0   40.000000
3         5.0      5.0      NaN         29.0   24.166667
4         5.0      5.0      3.0         36.0   30.000000
...       ...      ...      ...          ...         ...
1048      5.0      4.0      5.0         42.0   35.000000
1049      5.0      5.0      5.0         44.0   36.666667
1050      5.0      5.0      5.0         51.0   42.500000
1051      5.0      5.0      3.0         33.0   27.500000
1052      4.0      5.0      3.0         24.0   20.000000

[1053 rows x 14 columns]>